<%layout("/layout/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3><%=listing.title%></h3>
    </div>
    <div class="card col-6 offset-2 listingcard" style="width: 25rem">
      <img src="<%=listing.image.url%>" class="card-img-top hlo" alt="..." />
      <div class="card-body">
        <p class="card-text">
          <p>Owned By:<i><%=listing.owner.username%></i></p><br/>
          <b><%=listing.title%></b><br />
          <%=listing.description%><br />
          &#8377;<%=listing.price.toLocaleString("en-IN")%><br />
          <%=listing.location%><br />
          <%=listing.country%><br />
        </p>
      </div>
    </div>
  </div>
  <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
  <div class="mm">
    <a href="/listing/<%=listing._id%>/edit" class="btn btn-dark b1 offset-3"
      >&nbsp;&nbsp;Edit&nbsp;&nbsp;
    </a>
    <form method="POST" action="/listing/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% } %>
  <br /><br />
  <hr />


  <%if(currUser) { %>
  <div class="col-8 offset-3">
    <h4>Leave a Review</h4>
    <form
      action="/listing/<%=listing.id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
        >
        </textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <div>
        <button class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
</div>
<%}%>
    <hr />

    <h4>All Reviews</h4>

    <div class="row">
      <% for(review of listing.reviews){%>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title"><%=review.author.username%></h5>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating%></p>

          <form
            class="mb-3"
            method="POST"
            action="/listing/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</body>
